*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    width: 100%;
    height: 100vh;
    background-color: #414141;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.container{
    position: relative;
    background-color: #2f363e;
    min-height: 500px;
    /* border: 2px solid red; */
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    /* padding: 5px; */
    border-radius: 10px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.clock{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #2f363e;
    border-radius: 50%;

    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255,  0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;

}

.clock::before{

    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #2f363e;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 1000000;
}

.clock span{
    position: absolute;
    inset: 20px;
    color: white;
    text-align: center;
    /* 360 / 12 = 30deg */
    transform: rotate(calc(30deg * var(--i)));
    /* transform-origin: bottom; */
}

.clock span b{
    font-size: 2rem;
    opacity: 0.5;
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.circle{
    position: absolute;
    width: 270px;
    height: 270px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
    border-radius: 50%;

}

.circle:nth-child(1) i{
    width: 3px;

}
.circle:nth-child(2) i{
    width: 6px;
}


.circle2{
    width: 227px;
    height: 227px;
    z-index: 9;
}

.circle3{
    width: 190px;
    height: 190px;
    z-index: 8;
}


.circle::before{
    content:  " ";
    position: absolute;
    top: -7px;
    width: 10px;
    height: 10px;
    background-color: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);



}


/* Digital Clock */


#time{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 40px;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 40px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    /* margin-top: 2rem; */

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);

}

#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color:  var(--clr);

}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after
{
    content: ':';
    position: absolute;
    right: -4px;
    bottom: 3px;

}

#time div:last-child{
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    /* border: 1px solid red; */
}


#time div:nth-child(2)::after{

    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}